\@experiments
\@logs
\__pycache__
\@output
credentials.json
config.json
client_secret_933036317465-0mt6j8ph23tm3mkamicdbl1pek3lniag.apps.googleusercontent.com copy.json
tests/client_secret_933036317465-0mt6j8ph23tm3mkamicdbl1pek3lniag.apps.googleusercontent.com.json
data/modiin/
data/test.docx
data/shulamit_school_schedule.jpeg
data/modiin.jpg
data/gosha_school_schedule.jpeg
data/calendar.jpg
/.vscode
